body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#playground {
  height: 100vh;
  width: 100vw;
}

.dragThis {
  border: 1px solid black;
  flex-direction: row;
  align-items: center;
}

.title {
  background-color: antiquewhite;
  width: 100%;
  height: 25px;
  border-bottom: 1px solid black;
  text-align: center;
  position: relative;
}

.emptySpace {
  position: relative;
  width: 100%;
}

#addParent {
  position: fixed;
  bottom: 5vh;
  left: 50vw;
}
